/*Tag*/
html {
  font-family:Arial, sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

summary {
  cursor: pointer;
  outline:none;
}

footer {
  padding-bottom:30px;
}

li {
  margin-left:0px
}

/*Class*/
.container {
  max-width: 730px
}

.page-header {
  border-bottom:none;
}

.nav-right li {
    float:right;
}

.center-pills {
    display: flex;
    justify-content: center;
}
