.paginationjs {
line-height:1.6;
font-family:Marmelad,"Lucida Grande",Arial,"Hiragino Sans GB",Georgia,sans-serif;
font-size:14px;
box-sizing:initial
float:left
}

.paginationjs:after {
display:table;
content:" ";
clear:both
}

.paginationjs .paginationjs-pages {
float:left
}

.paginationjs .paginationjs-pages ul {
float:left;
margin:0;
padding:0
}

.paginationjs .paginationjs-go-button,.paginationjs .paginationjs-go-input,.paginationjs .paginationjs-nav {
float:left;
margin-left:10px;
font-size:14px
}

.paginationjs .paginationjs-pages li {
float:left;
border:1px solid #aaa;
border-right:none;
list-style:none
}

.paginationjs .paginationjs-pages li>a {
min-width:30px;
height:28px;
line-height:28px;
display:block;
background:#fff;
font-size:14px;
color:#333;
text-decoration:none;
text-align:center;
color:#337ab7
}

.paginationjs .paginationjs-pages li>a:hover {
background:#eee
}

.paginationjs .paginationjs-pages li.active {
border:none
}

.paginationjs .paginationjs-pages li.active>a {
height:30px;
line-height:30px;
background:#337ab7;
color:#fff
}

.paginationjs .paginationjs-pages li.disabled>a {
opacity:.3
}

.paginationjs .paginationjs-pages li.disabled>a:hover {
background:0 0
}

.paginationjs .paginationjs-pages li:first-child,.paginationjs .paginationjs-pages li:first-child>a {
border-radius:3px 0 0 3px
}

.paginationjs .paginationjs-pages li:last-child {
border-right:1px solid #aaa;
border-radius:0 3px 3px 0
}

.paginationjs .paginationjs-pages li:last-child>a {
border-radius:0 3px 3px 0
}

.paginationjs .paginationjs-go-input>input[type=text] {
width:30px;
height:28px;
background:#fff;
border-radius:3px;
border:1px solid #aaa;
padding:0;
font-size:14px;
text-align:center;
vertical-align:baseline;
outline:0;
box-shadow:none;
box-sizing:initial
}

.paginationjs .paginationjs-go-button>input[type=button] {
min-width:40px;
height:30px;
line-height:28px;
background:#fff;
border-radius:3px;
border:1px solid #aaa;
text-align:center;
padding:0 8px;
font-size:14px;
vertical-align:baseline;
outline:0;
box-shadow:none;
color:#337ab7;
cursor:pointer;
vertical-align:middle\9
}

.paginationjs .paginationjs-go-button>input[type=button]:hover {
background-color:#f8f8f8
}

.paginationjs .paginationjs-nav {
height:30px;
line-height:30px
}

.paginationjs .paginationjs-go-button,.paginationjs .paginationjs-go-input {
margin-left:5px\9
}

.paginationjs .paginationjs-pages li.paginationjs-next {
border-right:1px solid #aaa\9
}

.paginationjs .paginationjs-go-input>input[type=text] {
line-height:28px\9;
vertical-align:middle\9
}

.paginationjs.paginationjs-big .paginationjs-pages li>a {
line-height:36px\9
}

.paginationjs.paginationjs-big .paginationjs-go-input>input[type=text] {
height:36px\9;
line-height:36px\9
}
