/*Tag*/
html {
  font-family:Arial, sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

summary {
  cursor: pointer;
}

/*Class*/
.navbar-toggle {
    float: left;
    margin-left: 15px;
}

/*ID*/
#update {
  font-size: 10px;
  float: right;
}
